.tarefa {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 12px 18px;
    background-color: #03627e;
    margin-bottom: 8px;
    border-radius: 10px;
    list-style: none;
    min-width: 0;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    min-width: 0;
}

.textoTarefa {
    font-size: 1rem;
    cursor: pointer;
    word-break: break-word;
}

.cidade {
    font-size: 0.75rem;
    color: #64748B;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 6px;
    /* width: 100%; */
    flex-shrink: 0;
}

.badge-prioridade {
    /* margin-right: auto; */
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
}

.btnDeletar, .btnMover {
    color: #94a3b8;
    background: transparent;
    border: 1px solid #94a3b8;
    border-radius: 6px;
    padding: 2px 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.btnDeletar:hover, .btnMover:hover {
    color: #dc8079;
    border-color: #dc8079;
}


.concluida {
    opacity: 20%;
}


.alta {
    border-left: 5px solid #BB564C;
    color: #fff;
}

.media {
    border-left: 5px solid #b3b607;
    color: #fff;
}

.baixa {
    border-left: 5px solid #658A4A;
    color: #fff;
}

.badge-alta {
    background-color: #BB564C;
    color: #03627e;
}

.badge-media {
    background-color: #b3b607;
    color: #03627e;

}

.badge-baixa {
    background-color:  #658A4A;
    color: #03627e;
}

